<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BmsSoftware.ConfigNFCe" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BmsSoftware.ConfigMessage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BmsSoftware.ConfigSistema1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BmsSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BmsSoftware.ConfigNFCe>
            <setting name="NaoPermitirEstoqueNegativo" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="NaoPermitirAlteraValorUnitário" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="AdicionaProdutoAposLeituraCódigoBarra" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="MaximizarTelaAbrir" serializeAs="String">
                <value />
            </setting>
            <setting name="EmitirSomAdicionarProduto" serializeAs="String">
                <value />
            </setting>
            <setting name="PermitirDescontoFechamento" serializeAs="String">
                <value />
            </setting>
            <setting name="IdCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="IdTipoPagamento" serializeAs="String">
                <value />
            </setting>
            <setting name="IdFormaPagto" serializeAs="String">
                <value />
            </setting>
            <setting name="IdCFOP" serializeAs="String">
                <value />
            </setting>
            <setting name="TipoImpressao" serializeAs="String">
                <value />
            </setting>
            <setting name="VersaoSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="SerieNFCe" serializeAs="String">
                <value />
            </setting>
            <setting name="PortaImpressora" serializeAs="String">
                <value />
            </setting>
            <setting name="ImpressoraSelecionada" serializeAs="String">
                <value />
            </setting>
            <setting name="NaoExibirLegenda" serializeAs="String">
                <value />
            </setting>
            <setting name="IdLocalCobranca" serializeAs="String">
                <value />
            </setting>
            <setting name="NaoPermitirValorUnitarioZerado" serializeAs="String">
                <value />
            </setting>
            <setting name="NaoPermitirAlterarQuantidade" serializeAs="String">
                <value />
            </setting>
            <setting name="NInicialNFCe" serializeAs="String">
                <value />
            </setting>
            <setting name="IdentificacaoAmbiente" serializeAs="String">
                <value />
            </setting>
            <setting name="TipoAutenticacao" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToSaveXml" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginCryptPassd" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginUser" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlNfCeService" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPasswd" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="RegimeTributarioCRT" serializeAs="String">
                <value />
            </setting>
            <setting name="fundologo" serializeAs="String">
                <value />
            </setting>
            <setting name="NomeFabImpressora" serializeAs="String">
                <value />
            </setting>
            <setting name="EmpresaIntegra" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalInstalacaoNewSystems" serializeAs="String">
                <value />
            </setting>
            <setting name="DiferencaFuxoHorario" serializeAs="String">
                <value />
            </setting>
            <setting name="VersaoAplicativoNewsSystems" serializeAs="String">
                <value />
            </setting>
            <setting name="CASADECPRINTDANFE" serializeAs="String">
                <value />
            </setting>
            <setting name="CNPJCartaoVisa" serializeAs="String">
                <value />
            </setting>
            <setting name="CNPJCartaoMarterCard" serializeAs="String">
                <value />
            </setting>
            <setting name="CNPJCartaoAmericanExpress" serializeAs="String">
                <value />
            </setting>
            <setting name="CNPJCartaoSorocred" serializeAs="String">
                <value />
            </setting>
            <setting name="CNPJCartaoOutros" serializeAs="String">
                <value />
            </setting>
        </BmsSoftware.ConfigNFCe>
        <BmsSoftware.ConfigMessage>
            <setting name="MsgSave" serializeAs="String">
                <value>Registro salvo com sucesso!</value>
            </setting>
            <setting name="MsgSaveErro" serializeAs="String">
                <value>Não foi possível salvar o registro!</value>
            </setting>
            <setting name="CampoObrigatorio" serializeAs="String">
                <value>Campo obrigatório</value>
            </setting>
            <setting name="CampoObrigatorio2" serializeAs="String">
                <value>Existe(m) campo(s) obrigatório(s)</value>
            </setting>
            <setting name="MsgErroSenha" serializeAs="String">
                <value>Senha/Usuário inválido!</value>
            </setting>
            <setting name="searchFieldType" serializeAs="String">
                <value>Erro no valor da pesquisa</value>
            </setting>
            <setting name="MsgDrop" serializeAs="String">
                <value> ... Selecione ...</value>
            </setting>
            <setting name="FieldErro" serializeAs="String">
                <value>Campo inválido!</value>
            </setting>
            <setting name="MsgDelete" serializeAs="String">
                <value>Desejar realmente excluir este registro?</value>
            </setting>
            <setting name="MsgDelete2" serializeAs="String">
                <value>Registro deletado com sucesso!</value>
            </setting>
            <setting name="MsgDeleteErro" serializeAs="String">
                <value>Não foi possível deletar o registro selecionado!</value>
            </setting>
            <setting name="MsgEditarExcluir" serializeAs="String">
                <value>Para editar o registro pressione Enter ou Delete para apagar.</value>
            </setting>
            <setting name="MsgErroPrint" serializeAs="String">
                <value>Não foi possível imprimir!</value>
            </setting>
            <setting name="MsgSelecRegistro" serializeAs="String">
                <value>Selecione um registro!</value>
            </setting>
            <setting name="MsgPerm" serializeAs="String">
                <value>Usuário não tem permissão para usar este recurso!</value>
            </setting>
            <setting name="CNPJErro" serializeAs="String">
                <value>CNPJ Inválido</value>
            </setting>
            <setting name="CPFErro" serializeAs="String">
                <value>CPF Inválido</value>
            </setting>
            <setting name="MsgDataInvalida" serializeAs="String">
                <value>Data Inválida</value>
            </setting>
            <setting name="CNPJCPFDupl" serializeAs="String">
                <value>CNPJ/CPF já existe no sistema!</value>
            </setting>
            <setting name="MsgErroBoletaSelec" serializeAs="String">
                <value>Erro ao Imprimir a Boleta!</value>
            </setting>
            <setting name="MsgErroImprimirPesquisa" serializeAs="String">
                <value>Erro na Pesquisa</value>
            </setting>
        </BmsSoftware.ConfigMessage>
        <BmsSoftware.ConfigSistema1>
            <setting name="UrlBd" serializeAs="String">
                <value />
            </setting>
            <setting name="PathImage" serializeAs="String">
                <value />
            </setting>
            <setting name="PathInstall" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorExitTxtBox" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorEnterTxtBox" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ConexaoFB" serializeAs="String">
                <value>User=SYSDBA;Password=masterkey;DataSource=localhost;Database=</value>
            </setting>
            <setting name="NomeEmpresa" serializeAs="String">
                <value />
            </setting>
            <setting name="NameSytem" serializeAs="String">
                <value>Cupom Eletrônico</value>
            </setting>
            <setting name="FormatDateSearch" serializeAs="String">
                <value>yyyy/MM/dd</value>
            </setting>
            <setting name="site" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </BmsSoftware.ConfigSistema1>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <BmsSoftware.Properties.Settings>
            <setting name="BmsSoftware_NFCeServiceClient_NFCeService" serializeAs="String">
                <value>http://www.aclti.com.br/NFev5/NFCeService.svc</value>
            </setting>
        </BmsSoftware.Properties.Settings>
    </applicationSettings>
</configuration>