<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BmsSoftware.Modulos.IMEXApp.UrlIMEXApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.ConfigOS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.WebServiceNfe" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.ConfigPedidoBalcao" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.ConfigEtiqueta" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.ConfigNotaFiscalServico" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.CupomFiscal" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.ConfigMessage" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BmsSoftware.ConfigSistema1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BmsSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BmsSoftware.Modulos.IMEXApp.UrlIMEXApp>
            <setting name="PostCategroriaProduto" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiCategoriaProduto/Post</value>
            </setting>
            <setting name="GetRegistrosCategoriaProduto" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiCategoriaProduto/GetRegistros/</value>
            </setting>
            <setting name="DeleteRegistrosCategoriaProduto" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiCategoriaProduto/Delete/</value>
            </setting>
            <setting name="PostUnidaDeMedida" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApIunidademedida/Post</value>
            </setting>
            <setting name="GetRegistrosUnidadeMedida" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApIunidademedida/GetRegistros/</value>
            </setting>
            <setting name="DeleteRegistrosUnidadedeMedida" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApIunidademedida/Delete/</value>
            </setting>
            <setting name="PostTransportadora" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiTransportadora/Post</value>
            </setting>
            <setting name="DeleteRegistrosTransportadora" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiTransportadora/Delete/</value>
            </setting>
            <setting name="GetRegistrosTransportadora" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiTransportadora/GetRegistros/</value>
            </setting>
            <setting name="PostPrazo" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiPrazo/Post</value>
            </setting>
            <setting name="DeleteRegistrosPrazo" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiPrazo/Delete/</value>
            </setting>
            <setting name="GetRegistrosPrazo" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiPrazo/GetRegistros/</value>
            </setting>
            <setting name="PostEnderecos" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiEnderecos/Post</value>
            </setting>
            <setting name="DeleteRegistrosEnderecos" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiEnderecos/Delete/</value>
            </setting>
            <setting name="GetRegistrosEnderecos" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiEnderecos/GetRegistros/</value>
            </setting>
            <setting name="PostProdutos" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiProduto/Post</value>
            </setting>
            <setting name="DeleteRegistrosProdutos" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiProduto/Delete/</value>
            </setting>
            <setting name="GetRegistrosProdutos" serializeAs="String">
                <value>http://hlpsistemas.sytes.net:8085/api/ApiProduto/GetRegistros/</value>
            </setting>
        </BmsSoftware.Modulos.IMEXApp.UrlIMEXApp>
        <BmsSoftware.ConfigOS>
            <setting name="ModeloImpressao" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagPrintDireto" serializeAs="String">
                <value/>
            </setting>
        </BmsSoftware.ConfigOS>
        <BmsSoftware.WebServiceNfe>
            <setting name="Recepcao" serializeAs="String">
                <value/>
            </setting>
            <setting name="RetRecepcao" serializeAs="String">
                <value/>
            </setting>
            <setting name="Inutilizacao" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConsultaProtocolo" serializeAs="String">
                <value/>
            </setting>
            <setting name="StatusServico" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConsultaCadastro" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecepcaoEvento" serializeAs="String">
                <value/>
            </setting>
            <setting name="Autorizacao" serializeAs="String">
                <value/>
            </setting>
            <setting name="RetAutorizacao" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadNFe" serializeAs="String">
                <value/>
            </setting>
        </BmsSoftware.WebServiceNfe>
        <BmsSoftware.ConfigPedidoBalcao>
            <setting name="FlagPesquisaCodBarra" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagPesquisaCodReferencia" serializeAs="String">
                <value/>
            </setting>
            <setting name="AbreGaveta" serializeAs="String">
                <value/>
            </setting>
        </BmsSoftware.ConfigPedidoBalcao>
        <BmsSoftware.ConfigEtiqueta>
            <setting name="Left_Esquerda_POLIFIX_2060" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Right_Direito_POLIFIX_2060" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Top_Topo_POLIFIX_2060" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Bottom_Inferior_POLIFIX_2060" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Width_Largura_POLIFIX_2060" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Height_Altura_POLIFIX_2060" serializeAs="String">
                <value>13</value>
            </setting>
        </BmsSoftware.ConfigEtiqueta>
        <BmsSoftware.ConfigNotaFiscalServico>
            <setting name="CodNatureza" serializeAs="String">
                <value/>
            </setting>
            <setting name="RegimeTributacao" serializeAs="String">
                <value/>
            </setting>
            <setting name="Serie" serializeAs="String">
                <value/>
            </setting>
            <setting name="InscricaoMunicipalPrestador" serializeAs="String">
                <value/>
            </setting>
            <setting name="OptanteSimples" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocalArquivoTexto" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodigoEspecificaçãoAtividadeFederal" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodigoEspecificacaoAtividadeMunicipal" serializeAs="String">
                <value/>
            </setting>
            <setting name="Aliquota" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InscricaoEstadualPrestador" serializeAs="String">
                <value/>
            </setting>
        </BmsSoftware.ConfigNotaFiscalServico>
        <BmsSoftware.CupomFiscal>
            <setting name="pathgdoor" serializeAs="String">
                <value/>
            </setting>
            <setting name="bdgoor" serializeAs="String">
                <value/>
            </setting>
            <setting name="bdFast" serializeAs="String">
                <value/>
            </setting>
            <setting name="pathfast" serializeAs="String">
                <value/>
            </setting>
            <setting name="PATHRECEPDIGISAT" serializeAs="String">
                <value/>
            </setting>
        </BmsSoftware.CupomFiscal>
        <BmsSoftware.Properties.Settings>
            <setting name="teste" serializeAs="String">
                <value>teste Rafael</value>
            </setting>
        </BmsSoftware.Properties.Settings>
        <BmsSoftware.ConfigMessage>
            <setting name="MsgSave" serializeAs="String">
                <value>Registro salvo com sucesso!</value>
            </setting>
            <setting name="MsgSaveErro" serializeAs="String">
                <value>Não foi possível salvar o registro!</value>
            </setting>
            <setting name="CPFErro" serializeAs="String">
                <value>CPF Inválido!</value>
            </setting>
            <setting name="CNPJErro" serializeAs="String">
                <value>CNPJ Inválido!</value>
            </setting>
            <setting name="CampoObrigatorio" serializeAs="String">
                <value>Campo obrigatório</value>
            </setting>
            <setting name="CampoObrigatorio2" serializeAs="String">
                <value>Existe(m) campo(s) obrigatório(s)</value>
            </setting>
            <setting name="searchFieldType" serializeAs="String">
                <value>Erro no valor da pesquisa</value>
            </setting>
            <setting name="MsgDelete" serializeAs="String">
                <value>Desejar realmente excluir este registro?</value>
            </setting>
            <setting name="MsgSelecRegistro" serializeAs="String">
                <value>Selecione um registro!</value>
            </setting>
            <setting name="MsgDelete2" serializeAs="String">
                <value>Registro deletado com sucesso!</value>
            </setting>
            <setting name="MsgDeleteErro" serializeAs="String">
                <value>Não foi possível deletar o registro selecionado!</value>
            </setting>
            <setting name="CNPJDupl" serializeAs="String">
                <value>CNPJ já existe no cadastro, desejar continuar?</value>
            </setting>
            <setting name="MsgErroPrint" serializeAs="String">
                <value>Não foi possível imprimir!</value>
            </setting>
            <setting name="CPFDupl" serializeAs="String">
                <value>CPF já existe no cadastro, desejar continuar?</value>
            </setting>
            <setting name="MsgDataInvalida" serializeAs="String">
                <value>Data Inválida!</value>
            </setting>
            <setting name="FieldErro" serializeAs="String">
                <value>Campo inválido!</value>
            </setting>
            <setting name="MsgDrop" serializeAs="String">
                <value> Selecione...</value>
            </setting>
            <setting name="CNPJCPFDupl" serializeAs="String">
                <value>CNPJ e/ou CPF já existe no cadastro, deseja continuar?</value>
            </setting>
            <setting name="MsgErroArquivo" serializeAs="String">
                <value>Não foi possível visualizar o arquivo!</value>
            </setting>
            <setting name="MsgSearchErro" serializeAs="String">
                <value>Não foi possível pesquisar pelo código selecionado!</value>
            </setting>
            <setting name="MsgSearchSucess" serializeAs="String">
                <value>Pesquisa realizada com sucesso!</value>
            </setting>
            <setting name="MsgErroSenha" serializeAs="String">
                <value>Senha/Usuário inválido!</value>
            </setting>
            <setting name="MsgErroOpenRegistro" serializeAs="String">
                <value>Não foi possível abrir o registro!</value>
            </setting>
            <setting name="MsgErroImprimirPesquisa" serializeAs="String">
                <value>Faça a pesquisa antes de imprimir!</value>
            </setting>
            <setting name="MsgErroBoletaSelec" serializeAs="String">
                <value>Não existe boleta bancária selecionada na configuração.</value>
            </setting>
            <setting name="MsgEditarExcluir" serializeAs="String">
                <value>Para editar o registro pressione Enter ou Delete para apagar.</value>
            </setting>
            <setting name="MsgErroHora" serializeAs="String">
                <value>Hora inválida</value>
            </setting>
            <setting name="MsgDuplRegistro" serializeAs="String">
                <value>Deseja Realmente duplicar o Registro?</value>
            </setting>
            <setting name="MsgErroPesquisa" serializeAs="String">
                <value>Não foi possível efetuar a pesquisa!</value>
            </setting>
            <setting name="MsgPerm" serializeAs="String">
                <value>Usuário não tem permissão para usar este recurso!</value>
            </setting>
        </BmsSoftware.ConfigMessage>
        <BmsSoftware.Config>
            <setting name="PathInstall" serializeAs="String">
                <value>C:\BmsSoftware\</value>
            </setting>
            <setting name="FormatDateSearch" serializeAs="String">
                <value>yyyy/MM/dd</value>
            </setting>
            <setting name="ColorRequires" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorEnterTxtBox" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="ConexaoFB" serializeAs="String">
                <value>User=SYSDBA;Password=masterkey;Database=C:\BmsSoftware\Bd\BMSSOFTWARE.GDB;DataSource=localhost;</value>
            </setting>
            <setting name="BackColorForm" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="UFSelect" serializeAs="String">
                <value>MG</value>
            </setting>
            <setting name="NameSytem" serializeAs="String">
                <value>Bms Software - Sistemas Comerciais</value>
            </setting>
            <setting name="PathImage" serializeAs="String">
                <value>C:\BmsSoftware\Images</value>
            </setting>
            <setting name="CodMoedaSelec" serializeAs="String">
                <value>1</value>
            </setting>
        </BmsSoftware.Config>
        <BmsSoftware.ConfigSistema1>
            <setting name="PathInstall" serializeAs="String">
                <value>C:\IMEXSISTEMA</value>
            </setting>
            <setting name="FormatDateSearch" serializeAs="String">
                <value>yyyy/MM/dd</value>
            </setting>
            <setting name="ColorRequires" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorEnterTxtBox" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ConexaoFB" serializeAs="String">
                <value>User=SYSDBA;Password=masterkey;DataSource=localhost;Database=</value>
            </setting>
            <setting name="BackColorForm" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="UFSelect" serializeAs="String">
                <value>MG</value>
            </setting>
            <setting name="NameSytem" serializeAs="String">
                <value>Sistema de Gestão</value>
            </setting>
            <setting name="UrlBd" serializeAs="String">
                <value>C:\IMEXSISTEMA\bd\IMEXSISTEMAS.GDB;</value>
            </setting>
            <setting name="ColorExitTxtBox" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorFieldObs" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="PathImage" serializeAs="String">
                <value>C:\IMEXSISTEMA\Images</value>
            </setting>
            <setting name="CodMoedaSelec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FLAGPERGMODO" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="FLAGMODOGRAFICO" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="FLAGMODOMATRICIAL" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="PORTAMATLOCAL" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="CAMINHOMATREDE" serializeAs="String">
                <value/>
            </setting>
            <setting name="FLAGMATRICIALLOCAL" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="FLAGSOMLOCAL" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="FLAGMATRICIALREDE" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="PathBackup" serializeAs="String">
                <value>C:\IMEXSISTEMA\backup</value>
            </setting>
            <setting name="FlackBancoBackup" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="NameBD" serializeAs="String">
                <value>IMEXSISTEMAS.GDB</value>
            </setting>
            <setting name="PathXmlEnvio" serializeAs="String">
                <value>C:\IMEXSISTEMA\xmlnfe\envio</value>
            </setting>
            <setting name="impressoraticket" serializeAs="String">
                <value/>
            </setting>
            <setting name="msg1ticket" serializeAs="String">
                <value/>
            </setting>
            <setting name="msg2ticket" serializeAs="String">
                <value/>
            </setting>
            <setting name="msg3ticket" serializeAs="String">
                <value/>
            </setting>
            <setting name="msg4ticket" serializeAs="String">
                <value/>
            </setting>
            <setting name="site" serializeAs="String">
                <value>imexsistema.com.br</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>contato@imexsistemas.com.br</value>
            </setting>
            <setting name="telefone" serializeAs="String">
                <value>(31) 3611-4145</value>
            </setting>
            <setting name="CodEmpresa" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="TipoPesquisaProduto" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagExibirPedidoOptica" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagExibirConhTransporte" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagAutoMecanica" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagControlaEstoque" serializeAs="String">
                <value/>
            </setting>
            <setting name="TituloRelatorio" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagFestaEventos" serializeAs="String">
                <value/>
            </setting>
            <setting name="NomeEmpresa" serializeAs="String">
                <value>IMEX Sistemas</value>
            </setting>
            <setting name="FlagTerraplenagem" serializeAs="String">
                <value/>
            </setting>
            <setting name="PortaEmail" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SegurancaEmail" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="DiferencaFuxoHorario" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagVendedorObrigatorio" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagCentroCustoObrigatorio" serializeAs="String">
                <value/>
            </setting>
            <setting name="usuarioserasa" serializeAs="String">
                <value/>
            </setting>
            <setting name="senhaserasa" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagPlanos" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="IdPlanos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FlagOrdenarProdutoPedido" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagClienteResumida" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagProdutoResumida" serializeAs="String">
                <value/>
            </setting>
            <setting name="BDScript" serializeAs="String">
                <value>C:\IMEXSISTEMA\BD\SCRIPTBDIMEX.GDB</value>
            </setting>
            <setting name="UploadSicron" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadSicron" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagMetroLinear" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagAluguelRoupa" serializeAs="String">
                <value/>
            </setting>
            <setting name="IntResolucao" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlagTelemarketing" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagEmissorNFe" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagSpedSintegra" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagContadorNFe" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagMsgSuporte" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlagExibirMsgRenovacaoSuporte" serializeAs="String">
                <value/>
            </setting>
            <setting name="DtSuporte" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColunaArquivoRemessa" serializeAs="String">
                <value/>
            </setting>
            <setting name="ModeloImpressaoOS" serializeAs="String">
                <value/>
            </setting>
            <setting name="HabilitarMesas" serializeAs="String">
                <value/>
            </setting>
            <setting name="AcrescimoPedido" serializeAs="String">
                <value/>
            </setting>
            <setting name="PedidoBalcao" serializeAs="String">
                <value/>
            </setting>
        </BmsSoftware.ConfigSistema1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <BmsSoftware.Properties.Settings>
            <setting name="IMEXSistema_br_com_soawebservices_www_SERASA" serializeAs="String">
                <value>http://www.soawebservices.com.br/webservices/test-drive/serasa/pefin.asmx</value>
            </setting>
            <setting name="IMEXSistema_Serasa_administracao_Administracao" serializeAs="String">
                <value>http://www.soawebservices.com.br/webservices/producao/sws/administracao.asmx</value>
            </setting>
            <setting name="IMEXSistema_br_com_soawebservices_labs2_SERASA" serializeAs="String">
                <value>http://labs.soawebservices.com.br/webservices/test-drive/serasa/Concentre.asmx</value>
            </setting>
            <setting name="IMEXSistema_br_com_soawebservices_labs3_SERASA" serializeAs="String">
                <value>http://labs.soawebservices.com.br/webservices/test-drive/serasa/cheques.asmx</value>
            </setting>
            <setting name="IMEXSistema_br_com_soawebservices_www1_SERASA" serializeAs="String">
                <value>http://www.soawebservices.com.br/webservices/test-drive/serasa/crednet.asmx</value>
            </setting>
            <setting name="IMEXSistema_br_com_soawebservices_www2_Partners" serializeAs="String">
                <value>http://www.soawebservices.com.br/webservices/producao/sws/partners.asmx</value>
            </setting>
        </BmsSoftware.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
